body {
    
    font-family: 'Yanone Kaffeesatz', sans-serif;;
    margin: 0 12px 0 5px;
    background-image: url(images/latestbg.jpg);
    background-position:50%;
    
}

.name {
    
    color: #4997d8;
    font-size: 50px;
}
.half-width {
    width: 60%;
    padding: 0 2%;
}
.half-width img {
    width:50%;
    
    
    

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.hire-me {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-image:linear-gradient(rgb(136, 197, 247),rgb(12, 197, 243));;;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    border-radius: 5px;
    
    
}
p {
    text-align-last: left;
    text-align: justify;
    font-size: 18px;
}

.box {
    box-shadow: 10px 10px 50px grey;
    margin-right: 5%;
    
    width: 80%;
    
    
}

#border-left {
    border-image:linear-gradient(yellow, rgb(28, 173, 240));
    border-left: 5px solid;
    border-image-slice: 9;
    
}





.zero {
    margin-left: 45px;
    font-size: 40px
}

