body {
    
    font-family: 'Yanone Kaffeesatz', sans-serif;;
    margin: 0 12px 0 5px;
    background-image: url(images/latestbg.jpg);
    background-position:50%;
    
}

.name {
    
    color: #4997d8;
    font-size: 50px;
}
.half-width {
    width: 50%;
    padding: 0 2%;
}
.half-width img {
    width:50%;
    
    
    

}

section {
    display: flex;
    margin-bottom: 150px;
}

.hire-me {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-image:linear-gradient(rgb(136, 197, 247),rgb(12, 197, 243));;;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    border-radius: 5px;
    
    
}
p {
    text-align-last: left;
    text-align: justify;
    font-size: 18px;
}

